@{
    ViewData["Title"] = "Criar Cadastro de Motoristas";
}

<div class="text-center">
    <h1 class="display-4">Cadastrar Motorista</h1>
</div>

<form>
    <div class="form-group">
        <label for="nome">Nome</label>
        <input type="text" class="form-control" placeholder="Insira o primeiro nome">        
    </div>
    
    <div class="form-group">
        <label for="sobrenome">Sobrenome</label>
        <input type="text" class="form-control" placeholder="Insira o sobrenome">
    </div>

    <div class="form-group">
        <label for="marcacaminhao">Marca do Caminhão</label>
        <input type="text" class="form-control" placeholder="Insira a marca do caminhão">        
    </div>

    <div class="form-group">
        <label for="modelocaminhao">Modelo do Caminhão</label>
        <input type="text" class="form-control" placeholder="Insira o modelo do caminhão">        
    </div>

    <div class="form-group">
        <label for="placacaminhao">Placa do Caminhão</label>
        <input type="text" class="form-control" placeholder="Insira a placa do caminhão">        
    </div>

    <div class="form-group">
        <label for="eixoscaminhao">Quantidade de Eixos do Caminhão</label>
        <input type="text" class="form-control" placeholder="Insira a quantidade de eixos do caminhão">        
    </div>

    <div class="form-group">
        <label for="nome">Endereço completo</label>
        <input type="text" class="form-control" placeholder="Insira o endereço completo">        
    </div>

    <button type="submit" class="btn btn-primary">Cadastrar</button>
    <a class="btn btn-secondary" asp-controller="Home" asp-action="Index" role="button">Voltar</a>
</form>
