@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Gerenciador de Cadastros de Viagens</h1>
    <p> Sistema de cadastro de viagens por período de tempo</p>
</div>
